{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ restaurant_name }}</title>
    <link rel="stylesheet" href="{% static 'home/style.css'%}">
</head>
<body>
    <div class="container">
        <div class="nav-center">
            <a href="{% url 'contact' %}" class='nav-link'>
                Contact
            </a>
            
            <a href="{%url 'about' %}" class="nav-link">
                About Us
            </a>
        </div>

        <h1 class="page-title">{{restaurant_name}} Menu</h1>
        <p class="phone_number">
            📞<a href="tel:{{phone_number}}"> {{phone_number}} </a>
        </p>

        <div class="menu-grid">

            {% for item in menu %}
                <div class="menu-card">
                    <h3 class="section-title">{{item.name}}</h3>
                    <p>{{item.description}}</p>
                    <span class="menu-price">{{item.price}}</span>
                </div>
            {% empty %}
                <p> No items found.<p>
            {% endfor %}
        </div>
    </div>
</body>
</html>